<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/unit.css}"/>
    <link rel="stylesheet" th:href="@{/css/m-table.css}"/>
    <link rel="stylesheet" th:href="@{/css/iconfont.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-tmpl.js}"></script>
    <script type="text/javascript" th:src="@{/js/editor/ueditor.config.js}"> </script>
    <script type="text/javascript" th:src="@{/js/editor/ueditor.all.min.js}"> </script>
    <script type="text/javascript" th:src="@{/js/editor/lang/zh-cn/zh-cn.js}"> </script>
</head>
<body>
<!-- 新闻列表 -->
<section class="m-newsList">
    <div class="hd">
        <select id="check-type">
            <option value="00">显示全部</option>
        </select>
        <a class="u-btn u-btn-blue" id="j-addPage">新闻发布</a>
    </div>
    <table class="m-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>标题</th>
            <th>描述</th>
            <th>作者</th>
            <th>来源</th>
            <th>新闻分类</th>
            <th>发布时间</th>
            <th class="right-border">操作</th>
        </tr>
        </thead>
        <tbody id="j-newsList">
        </tbody>
    </table>
    <ul class="m-page">
        <li>上一页</li>
        <li>1</li>
        <li>2</li>
        <li class="page-active">3</li>
        <li>...</li>
        <li>9</li>
        <li>10</li>
        <li>下一页</li>
    </ul>
</section>

<!-- 添加新闻 -->
<section id="j-addNews" class="m-addNews">
    <div class="box">
        <h1><i class="iconfont icon-edit icon"></i>添加新闻</h1>
        <form>
            <div class="u-group">
                <label for="">标题</label>
                <div class="ipt-box">
                    <input id="news-title" class="u-ipt" type="text" name="title"/>
                </div>
            </div>
            <div class="u-group">
                <label for="">分类</label>
                <div class="ipt-box">
                    <select id="news-type">
                    </select>
                </div>
            </div>
            <div class="u-group">
                <label for="">摘要</label>
                <div class="ipt-box">
                    <input class="u-ipt" id="news-remark" type="text" name="remark"/>
                </div>
            </div>
            <div class="group-box">
                <div class="u-group item-lt">
                    <label for="">作者</label>
                    <div class="ipt-box">
                        <input class="u-ipt" id="news-author" type="text" name="author"/>
                    </div>
                </div>
                <div class="u-group item-rt">
                    <label for="">来源</label>
                    <div class="ipt-box">
                        <input class="u-ipt" id="news-source" type="text" name="source" />
                    </div>
                </div>
            </div>
            <div class="u-group">
                <label for="">内容</label>
                <div class="ipt-box">
                    <script id="editor" type="text/plain" style="width: 100%; height: 300px;"></script>
                </div>
            </div>
            <div class="btn-box">
                <!--<input class="u-btn u-btn-green u-btn-lg" type="submit" value="保存" />-->
                <!--<a class="u-btn u-btn-green u-btn-lg" id="j-saveNews">保存</a>-->
                <span id="j-btnBox"></span>
                <a class="u-btn u-btn-red u-btn-lg" href="javascript:close()">取消</a>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript" th:inline="javascript">
        console.log(window.location.hash);

/*<![CDATA[*/
        console.log(window.location.hash);
        console.log("location");

        $.ajax({
            type: "GET",
            url: "/news/findAllType",
            success: function(data, status) {
                $.each(data, function(index, value) {
                    $("#check-type").append("<option value=" + value.id + ">" + value.name + "</option>");
                })
                console.log(data);
            }
        });

      // 显示新闻列表
      var showNewsList = function() {
        $.ajax({
          type: "GET",
          url: "/news/findAllNews",
          success: function(data, status) {
              var html = null;
              $.each(data, function(index, value) {
                    console.log("value====", value);
                  html += "<tr><td>" + (index + 1) + "</td><td> " + value.title + " </td><td> " + value.remark + " </td><td> " + value.author + " </td><td> " + value.source + " </td><td> " + ((value.newsType && value.newsType.id) ? value.newsType.name : '') + " </td><td> " + ((value.createDate) ? value.createDate : '') + " </td><td><a class=\"u-btn u-btn-green u-mrt\" onclick=\"updateNews(" + value.id + ")\">编辑</a><a class=\"u-btn u-btn-red\" onClick=\"deleteNews("+ value.id +")\">删除</a></td><tr>";
              })
              $("#j-newsList").html(html);
          }
        });
      }

      showNewsList();
      var ue = UE.getEditor('editor');

      //  根据选择的新闻分类显示新闻列表
      $("#check-type").change(function() {
        $.ajax({
            type: "GET",
            url: "/news/showNewsByTypeId",
            data: {
                id: $(this).children("option:selected").val(),
                [[${_csrf.parameterName}]] : [[${_csrf.token}]]
            },
            success: function(data, status) {
                if(data.length == 0) {
                    $("#j-newsList").html("<tr><td>暂无数据</td></tr>");
                } else {
                    var html = null;
                    $.each(data, function(index, value) {
                        html += "<tr><td>" + (index + 1) + "</td><td> " + value.title + " </td><td> " + value.remark + " </td><td> " + value.author + " </td><td> " + value.source + " </td><td> " + ((value.newsType && value.newsType.id) ? value.newsType.name : '') + " </td><td> " + ((value.createDate) ? value.createDate : '') + " </td><td><a class=\"u-btn u-btn-green u-mrt\" onclick=\"updateNews(" + value.id + ")\">编辑</a><a class=\"u-btn u-btn-red\" onClick=\"deleteNews("+ value.id +")\">删除</a></td><tr>";
                    });
                    $("#j-newsList").html(html);
                }
            }
        });
      });

       // 添加新闻
      $("#j-addPage").click(function() {
            $("#j-addNews").show();
            $("#j-btnBox").html("<a class=\"u-btn u-btn-green u-btn-lg\" id=\"j-saveNews\">保存</a>");
            $("#j-saveNews").click(function() {
                console.log('test');

                ue.getContent();
                $.ajax({
                    type: "POST",
                    url: "/news/addNews",
                    data: {
                        "title": $("#news-title").val(),
                        "remark": $("#news-remark").val(),
                        "content": ue.getContent(),
                        "author": $("#news-author").val(),
                        "source": $("#news-source").val(),
                        "newsType": $("#news-type").val(),
                        [[${_csrf.parameterName}]] : [[${_csrf.token}]]
                    },
                    success:function(data){
                        $("#j-addNews").hide();
                        showNewsList();
                    }
                });
            });
      });

      function close() {
        $("#j-addNews").hide();
      }

      // 新闻分类选择
      $.ajax({
          type: "GET",
          url: "/news/findAllType",
          success: function(data,status) {
              $.each(data,function(index,value){
                   console.log("<option value=" + value.id + ">" + value.name + "</option>" );
                   $("#news-type").append("<option value=" + value.id + ">" + value.name + "</option>");
              });
          }
      });

      // 更新新闻
      var updateNews = function(id) {
        console.log('test update');
        $("#j-addNews").show();
        $("#j-btnBox").html("<a class=\"u-btn u-btn-green u-btn-lg\" id=\"j-updateNews\">更新</a>");
        $.ajax({
            type: "GET",
            url: "/news/findNewsById",
            data: {
                id: id,
                [[${_csrf.parameterName}]] : [[${_csrf.token}]]
            },
            success: function(data, status) {
                console.log($("#news-type"));
                console.log(id);
                $("#news-title").val(data.title);
                $("#news-remark").val(data.remark);
                $("#news-author").val(data.author);
                $("#news-source").val(data.source);
                ue.setContent(data.content);
                $("#news-type").val(id);
            }
        });
        $("#j-updateNews").click(function() {
            $.ajax({
                type: "POST",
                url: "/news/updateNews",
                data: {
                    id: id,
                    "title": $("#news-title").val(),
                    "remark": $("#news-remark").val(),
                    "content": ue.getContent(),
                    "author": $("#news-author").val(),
                    "source": $("#news-source").val(),
                    "newsType": $("#news-type").val(),
                    [[${_csrf.parameterName}]] : [[${_csrf.token}]]
                },
                success: function(data, status) {
                    $("#j-addNews").hide();
                    showNewsList();
                }
            });
        });
      }

      // 删除新闻
      var deleteNews = function(id) {
        if(confirm("删除新闻")) {
            $.ajax({
                type: "GET",
                url: "/news/deleteNews",
                data: {
                    id: id,
                    [[${_csrf.parameterName}]] : [[${_csrf.token}]]
                },
                success: function(data, status) {
                    alert("ok");
                    showNewsList();
                }
            });
        }
      }

  /*]]>*/
    </script>
</body>
</html>