<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/unit.css}"/>
    <link rel="stylesheet" th:href="@{/css/m-table.css}"/>
    <link rel="stylesheet" th:href="@{/css/iconfont.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/editor/ueditor.config.js}"> </script>
    <script type="text/javascript" th:src="@{/js/editor/ueditor.all.min.js}"> </script>
    <script type="text/javascript" th:src="@{/js/editor/lang/zh-cn/zh-cn.js}"> </script>
</head>
<body>
<!-- 新闻列表 -->
<section class="m-newsList">
    <div class="hd">
        <select class="" name="">
            <option value="">显示全部</option>
            <option value="">公司动态</option>
            <option value="">医疗资讯</option>
        </select>
        <a class="u-btn u-btn-blue" href="javascript:showPage()">新闻发布</a>
    </div>
    <table class="m-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>标题</th>
            <th>描述</th>
            <th>作者</th>
            <th>来源</th>
            <th>封面</th>
            <th>发布时间</th>
            <th class="right-border">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>求是医脉上市成功</td>
            <td>描述描述</td>
            <td>求是医脉</td>
            <td>y医脉发布</td>
            <td>封面</td>
            <td>2017-02-18</td>
            <td><a class="u-btn u-btn-green u-mrt">编辑</a><a class="u-btn u-btn-red">删除</a></td>
        </tr>
        </tbody>
    </table>
    <ul class="m-page">
        <li>上一页</li>
        <li>1</li>
        <li>2</li>
        <li class="page-active">3</li>
        <li>...</li>
        <li>9</li>
        <li>10</li>
        <li>下一页</li>
    </ul>
</section>

<!-- 添加新闻 -->
<section id="j-addNews" class="m-addNews">
    <div class="box">
        <h1><i class="iconfont icon-edit icon"></i>添加新闻</h1>
        <form>
            <div class="u-group">
                <label for="">标题</label>
                <div class="ipt-box">
                    <input id="news-title" class="u-ipt" type="text" name="title"/>
                </div>
            </div>
            <div class="u-group">
                <label for="">分类</label>
                <div class="ipt-box">
                    <select id="news-type">
                        <option value="1">01</option>
                        <option value="2">02</option>
                    </select>
                </div>
            </div>
            <div class="u-group">
                <label for="">摘要</label>
                <div class="ipt-box">
                    <input class="u-ipt" id="news-remark" type="text" name="remark"/>
                </div>
            </div>
            <div class="group-box">
                <div class="u-group item-lt">
                    <label for="">作者</label>
                    <div class="ipt-box">
                        <input class="u-ipt" id="news-author" type="text" name="author"/>
                    </div>
                </div>
                <div class="u-group item-rt">
                    <label for="">来源</label>
                    <div class="ipt-box">
                        <input class="u-ipt" id="news-source" type="text" name="source" />
                    </div>
                </div>
            </div>
            <div class="u-group">
                <label for="">内容</label>
                <div class="ipt-box">
                    <script id="editor" type="text/plain" style="width: 100%; height: 300px;"></script>
                </div>
            </div>
            <div class="btn-box">
                <!--<input class="u-btn u-btn-green u-btn-lg" type="submit" value="保存" />-->
                <a class="u-btn u-btn-green u-btn-lg" id="j-saveNews">保存</a>
                <a class="u-btn u-btn-red u-btn-lg" href="javascript:close()">取消</a>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript" th:inline="javascript">
      $.ajax({
        type: "GET",
        url: "/news/findAllType",
        success: function(data,status) {
            console.log(data);
            console.log(data[2]);
            console.log(typeof data);
            $.each(data,function(index,value){
                 console.log("<option value=" + value.id + ">" + value.name + "</option>" );
                 $("#news-type").append("<option value=" + value.id + ">" + value.name + "</option>");
            });
        }
      })
      function showPage() {
        $("#j-addNews").show();
      }
      function close() {
        $("#j-addNews").hide();
      }
      var ue = UE.getEditor('editor');
      $("#j-saveNews").click(function() {
        ue.getContent();
        console.log(ue.getContent());
        console.log("addNews");
        $.ajax({
            type: "POST",
            url: "/news/addNews",
            data: {
                "title": $("#news-title").val(),
                "remark": $("#news-remark").val(),
                "content": ue.getContent(),
                "author": $("#news-author").val(),
                "source": $("#news-source").val(),
                "newsType": $("#news-type").val(),
                [[${_csrf.parameterName}]] : [[${_csrf.token}]]
            },
            success:function(data){
                alert(data);
            }
        });
      });

    </script>
</body>
</html>